[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-runner = "*"
pytest = "*"
vcrpy = "*"
pylint = "*"
pytest-asyncio = "*"

[packages]
twilio = "==6.43.0"
signalwire = {editable = true,path = "."}
aiohttp = "*"

[requires]
