[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-runner = "*"
vcrpy = "*"

[packages]
aiohttp = "*"
signalwire = {editable = true,path = "."}
six = "*"
twilio = ">=7.0.0,<7.6.0"

[requires]
