[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-runner = "*"
pytest = "*"
vcrpy = "*"
pylint = "*"
pytest-aiohttp = "*"
pytest-asyncio = "*"
asynctest = "*"

[packages]
twilio = "==6.16.4"
signalwire = {editable = true,path = "."}
aiohttp = "*"
asyncio = "*"

[requires]
